body {
  background-color: #000;
  overflow: hidden;
  font-family: 'Electrolize', sans-serif;
}

@mixin absolute($x, $y) {
  position: absolute;
  top: $x;
  left: $y;
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin size($x, $y) {
  position: absolute;
  height: $x;
  width: $y;
}

.bkg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(103.63deg, rgba(112, 0, 255, 0.3) 4.23%, rgba(83, 2, 147, 0.14) 96.22%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 5;
}

#bkg {
  @include absolute(0, 0);
  @include size(100%, 100%);
}

#demo {
  @include absolute(25%, 25%);
}

li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#l {
  @include absolute(11%, 0.2%);
  color: #FFF;
  font-size: 1.3vh;
  z-index: 150;
}

.selectorLabel {
  color: #FFF;
  font-size: 2vh;
}

#title {
  @include absolute(0.5%, 50%);
  transform: translate(-50%);
  color: #AAA;
  font-size: 2vh;
}

.tileContainer {
  color: #FFF;
  font-size: 1.2vh;
  text-decoration: none;
  list-style: none;
  padding-right: 1.5%;/*xx 3%*/
  padding-left: 1.5%;/*xx 3%*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  font-family: 'Martian Mono', monospace;
}

.elementRowTile {
  z-index: 10;
}

.tileRowContainer {
  position: absolute;
  left: 0%;
  width: 90.364583333%;
  height: 0.351851852%;
  padding: 0;
  margin: 0;
  /*9.351851852*/
  display: flex;
  flex-direction: row;
}


.primaryContainer {
  @include absolute(12.87037037%, 0%);
  width: 100%;
  height: 87%;
  overflow: scroll;
  border-top: solid 1px #7000FF;
  margin: 0;
  padding: 0;
  background-color: #00000070;
}

.noSelect {
  user-select: none;
}

.primaryContainer::-webkit-scrollbar {
  width: 0vh;
  height: 0.8vh;
}

.primaryContainer::-webkit-scrollbar-track {
  background-color: #6f00ff33;
}

.primaryContainer::-webkit-scrollbar-thumb:hover {
  background-color: #8223ff;

}

.primaryContainer::-webkit-scrollbar-thumb {
  background-color: #7000FF;
  transition: all linear 0.1s;
}

// @for $ix from 1 through 9 {
//   .xw-#{$ix}{
//     top: calc(15% + (8% * $ix));
//   }
// }
.displayListElement {
  padding-top: 1%;/*xx 0.2%*/
  padding-bottom: 1%;/*xx 0.2%*/
  list-style: none;
}

.waterfallTile {
  width: 100%;/*xx 115%*/
  height: 100%;/*xx 30%*/
}

#bkgImg {
  position: absolute;
  @include absolute(-20%, -45%);
  width: 190%;
  height: 170%;
  opacity: 0.07;
}

.selector {
  background-color: #43009baa;
  color: #FFF;
  outline: 0;
  border: solid 1px #7000FF;
  z-index: 100;
  width: 15.572916667%;
  height: 3.703703704%;
  font-size: 1.9vh;
}

#massSelector {
  @include absolute(7.407407407%, 15.78125%);
}

#metallicity {
  @include absolute(7.407407407%, 33.385416667%);
}

#irv {
  @include absolute(7.407407407%, 50.989583333%);
}

#carbon {
  @include absolute(7.407407407%, 68.59375%);
}

#massLabel {
  @include absolute(5%, 15.78125%);
}

#metallicityLabel {
  @include absolute(5%, 33.385416667%);
}

#irvLabel {
  @include absolute(5%, 50.989583333%);
}

#carbonLabel {
  @include absolute(5%, 68.59375%);
}

#paintingModeLabel {
  @include absolute(5%, 2.135416667%);
}

.selectorOption::selection {
  background-color: #7000FF;
}

.selectorOption:focus {
  background-color: #7000FF;
}

.selectorOption {
  background-color: #4d00b3;
  color: #FFF;
  border: solid 1px #4d00b3;
}

.paintingModeSelectorContainer {
  @include absolute(7.407407407%, 2.135416667%);
  @include size(3.703703704%, 11.614583333%);
}

.button {
  @include size(100%, 47%);
  @include flex();
  background-color: #4d00b320;
  user-select: none;
  transition: all linear 0.1s;
  transition: border linear 0.2s;
}

#abs {
  @include absolute(0%, 0%);
}

#rel {
  @include absolute(0%, 51%);
}

.ee {
  display: none;
}

@keyframes noDataAni {
  0% {
    color: #FF0056;
    background-color: #FF005620;
    border-top: solid 1px #F00056;
    border-bottom: solid 1px #F00056;
  }

  50% {
    color: #a00035;
    background-color: #a0003520;
    border-top: solid 1px #a00035;
    border-bottom: solid 1px #a00035;
  }

  100% {
    color: #FF0056;
    background-color: #FF005620;
    border-top: solid 1px #F00056;
    border-bottom: solid 1px #F00056;
  }
}

#noDataLabel {
  @include absolute(50.96875%, 0%);
  @include size(5.625%, 100%);
  @include flex();
  background-color: #F0005640;
  color: #F00056;
  border-top: solid 1px #F00056;
  border-bottom: solid 1px #F00056;
  font-size: 2.1vh;
  user-select: none;
  animation: noDataAni cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s infinite;
}
#toggleValuesButton:hover, #aboutButton:hover{
  background-color: #4d00b380;
}
#toggleValuesButton, #aboutButton{
  @include absolute(7.407407407%, 86.197916667%);
  @include size(3.703703704%, 6.5625%);
  color: #FFF;
  background-color: #4d00b360;
  border: solid 1px #7000FF;
  transition: all linear 0.1s;
}
#aboutButton{
  @include absolute(7.407407407%, 93.333333333%);
  @include size(3.703703704%, 5.625%);
}
@media only screen and (max-width: 600px) {
  #title {
    @include absolute(0%, 50%);
    @include flex();
    width: 100%;
    height: 3.90625%;
    font-size: 1.6vh;
    white-space: nowrap;
    background-color: #4d00b350;
    border-bottom: solid 1px #4d00b3;
    color: #FFF;
  }
  #noDataLabel {
    @include absolute(50.96875%, 0%);
    @include size(5.625%, 100%);
    font-size: 2.1vh;
    background-color: #F0005620;
  }
  .aboutContainer{
    @include absolute(0%, 0%);
    @include size(100%, 100%);
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(1px);
    z-index: 150;
  }
  #gitlink{
    color: #a35dff;
  }
  .backButton:hover{
    background-color: #39009680;
  }
  .linkContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-bottom: solid 1px #7000FF;
    @include size(19%, 90%);
    display: flex;
    align-items: center;
    justify-content: start;
  }
  #projectLabel{
    @include absolute(1%, 0%);
    @include flex();
    @include size(2%, 100%);
    color: #a35dff;
  }
  .link{
    color: #CCC;
    text-decoration: none;
  }
  @for $ix from 1 through 11 {
  .x#{$ix}{
    top: calc(-24% + (20% * $ix));
  }
}
  #linksList{
    @include absolute(34%, 0%);
    @include size(53%, 90%);
    margin: 0;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%;
    overflow-y: scroll
  }
  #linksLabel{
    @include absolute(30%, 0%);
    color: #FFF;
    font-size: 2.4vh;
    padding-left: 5%;
  }
  #desc{
    @include absolute(11.25%, 0%);
    @include size(15.625%, 90%);
    @include flex();
    color: #FFF;
    font-size: 1.9vh;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: solid 1px #7000FF; 
  }
  #atfo{
    @include absolute(87.65625%, 0%);
    @include size(6.71875%, 100%);
    @include flex();
    background-color: #39009600;
    color: #a35dff;
    font-size: 2.2vh;
    border-top: solid 1px #7000FF; 
  }
  #aboutLabel{
    @include absolute(0%, 0%);
    @include size(9.625%, 100%);
    @include flex();
    padding-top: 4%;
    background-color: #39009680;
    color: #FFF;
    font-size: 2.7vh;
  }
  .backButton{
    @include absolute(94.53125%, 0%);
    @include size(5.46875%, 100%);
    @include flex();
    color: #AAA;
    background-color: #39009650;
    font-size: 2.3vh;
  }
  .ee {
    margin: 0;
    padding: 0;
    color: #4d00b3;
    display: flex;
    position: relative;
    top: 1.6%;
    left: 1%;
  }

  #l {
    @include absolute(11.1%, 27%);
  }

  #paintingModeLabel {
    display: none;
  }

  .paintingModeSelectorContainer {
    @include absolute(13.125%, 1.111111111%);
    @include size(3.90625%, 48.055555556%);
  }

  .selectorLabel {
    font-size: 1.7vh;
    top: 4.375% !important;
  }

  #massLabel {
    @include absolute(4.375%, 1.111111111%);
  }

  #metallicityLabel {
    @include absolute(4.375%, 26.111111111%);
  }

  #irvLabel {
    @include absolute(4.375%, 51.111111111%);
  }

  #carbonLabel {
    @include absolute(4.375%, 76.111111111%);
  }
  .dataC{
    position: relative;
    top: -15%;
    font-size: 0.9vh;
  }
  .tileContainer {
    font-size: 1.4vh;
    padding-right: 1% !important;
    padding-left: 1% !important;
  }

  #massSelector {
    @include absolute(6.875%, 1.111111111%);
    @include size(3.90625%, 22.916666667%);

  }

  #metallicity {
    @include absolute(6.875%, 26.111111111%);
    @include size(3.90625%, 22.916666667%);

  }

  #carbon {
    @include absolute(6.875%, 76.111111111%);
    @include size(3.90625%, 22.916666667%);

  }

  #irv {
    @include absolute(6.875%, 51.111111111%);
    @include size(3.90625%, 22.916666667%);
  }
  #toggleValuesButton{
    @include absolute(13.125%, 51.111111111%);
    @include size(3.90625%, 22.916666667%);
    font-size: 1.6vh;
  }
  #aboutButton{
    @include absolute(13.125%, 76.111111111%);
    @include size(3.90625%, 22.316666667%);
  }
  .waterfallTile {
    width: 23% !important;
    height: 20% !important;
  }

  .selector {
    width: 20%;
    height: 5%;
  }

  .elementLabel {
    position: relative;
    top: -15%;
    color: #AAA;
    padding-right: 5% !important;
  }

  .primaryContainer {
    top: 18.4375%;
    height: 81.5625%;
    background-color: #00000080;
  }

  .displayListElement {
    padding-top: 1.8% !important;
    padding-bottom: 1.8% !important;
  }

}

@media only screen and (max-height: 500px) {
  .tileContainer {
    font-size: 3.4vh;
    padding-right: 0.9%;
    padding-left: 0.9%;
  }

  .primaryContainer {
    top: -3%;
    height: 101.5%;
  }

  .displayListElement {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}