body {
  background-color: #000;
  overflow: hidden;
  font-family: 'Electrolize', sans-serif;
}

@mixin absolute($x, $y) {
  position: absolute;
  top: $x;
  left: $y;
}

@mixin size($x, $y) {
  position: absolute;
  height: $x;
  width: $y;
}

.bkg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(103.63deg, rgba(112, 0, 255, 0.3) 4.23%, rgba(83, 2, 147, 0.14) 96.22%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 5;
}

#bkg {
  @include absolute(0, 0);
  @include size(100%, 100%);
}

#demo {
  @include absolute(25%, 25%);
}

li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#l {
  @include absolute(15%, 10%);
  color: #FFF;
  font-size: 2vh;
}

.tileContainer {
  color: #FFF;
  text-decoration: none;
  list-style: none;
  padding-right: 2%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  font-family: 'Martian Mono', monospace;
}

.elementRowTile {
  z-index: 10;
}

.tileRowContainer {
  position: absolute;
  left: 0%;
  width: 90.364583333%;
  height: 9.351851852%;
  display: flex;
  flex-direction: row;
}

path {
  transition: all linear 0.1s;
}
.primaryContainer{
  @include absolute(0%, 0%);
  width: 90%;
  height: 100%;
  overflow: scroll;
  border-right: solid 1px #7000FF;
}
.primaryContainer::-webkit-scrollbar {
  width: 0vh;
  height: 0.8vh;
}
 
.primaryContainer::-webkit-scrollbar-track {
  background-color: #6f00ff33;
}
.primaryContainer::-webkit-scrollbar-thumb:hover {
  background-color: #8223ff;

}
.primaryContainer::-webkit-scrollbar-thumb {
  background-color: #7000FF;
  transition: all linear 0.1s;
}
#C {
  top: 23%;
}
#N {
  top: calc(23% + (8% * 1));
}
#O {
  top: calc(23% + (8% * 2));
}
#F {
  top: calc(23% + (8% * 3));
}
#Ar {
  top: calc(23% + (8% * 4));
}
#Kr {
  top: calc(23% + (8% * 5));
}
#Ca {
  top: calc(23% + (8% * 6));
}
#Sc {
  top: calc(23% + (8% * 7));
}
#Ti {
  top: calc(23% + (8% * 8));
}